@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(to left, gray, blue);
    height: 300px;
}
body{
background-color: rgb(5, 5, 5);
}